<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.ApplyMapper">
    <resultMap id="applyResultMap" type="apply">
        <id property="id" column="id"></id>
        <result property="applyno" column="applyno"></result>
        <result property="createTime" column="create_time"></result>
        <result property="principal" column="principal"></result>
        <result property="applyChecker" column="apply_launch"></result>
        <result property="applyLaunch" column="apply_checker"></result>
        <result property="remark" column="remark"></result>
        <result property="state" column="state"></result>

        <association property="emp" column="eid" javaType="emp">
            <result property="eid" column="eid"></result>
            <result property="ename" column="ename"></result>
        </association>
    </resultMap>
    <update id="updateCheck">
          UPDATE apply
          SET state = #{state},apply_checker=#{applyChecker},remark=#{remark}
          WHERE applyno = #{applyno}
    </update>

    <select id="queryAll" resultMap="applyResultMap">
        SELECT a.create_time,a.applyno,a.state,em.ename AS principal,e.ename AS apply_launch ,emp.ename AS apply_checker ,a.remark
        FROM apply a
        LEFT JOIN emp e ON e.eid = a.apply_launch
        LEFT JOIN emp ON emp.eid = a.apply_checker
        LEFT JOIN emp em ON em.eid = a.principal
        <where>
            <if test="createTime != null">
                a.create_time = #{createTime}
            </if>

            <if test="applyLaunch != null">
               AND e.ename = #{applyLaunch}
            </if>

            <if test="applyChecker != null">
              AND  emp.ename = #{applyChecker}
            </if>
        </where>
    </select>
    <select id="queryDept" resultType="com.gxa.entity.Emp">
        SELECT e.eid,e.department
        FROM emp e
    </select>
</mapper>