<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.ApplyMapper">
    <resultMap id="applyResultMap" type="applyDto">
        <id property="id" column="id"></id>
        <result property="applyno" column="applyno"></result>
        <result property="createTime" column="create_time"></result>
        <result property="principal" column="principal"></result>
        <result property="applyChecker" column="apply_launch"></result>
        <result property="applyLaunch" column="apply_checker"></result>
        <result property="remark" column="remark"></result>
        <result property="state" column="state"></result>
        <result property="spec" column="spec"></result>
        <result property="unit" column="unit"></result>
        <result property="requestqty" column="requestqty"></result>
        <result property="realqty" column="realqty"></result>
        <result property="qty" column="qty"></result>
        <result property="gid" column="gid"></result>
        <result property="gname" column="gname"></result>
        <association property="emp" column="eid" javaType="emp">
            <result property="eid" column="eid"></result>
            <result property="ename" column="ename"></result>
        </association>
    </resultMap>

    <insert id="addGoods">
        <foreach collection="applyGoodsList" item="gd" index="index" separator="union all">
            insert into apply_goods(goods_id,requestqty,apply_id)
            select
            #{gd.goodsId},
            #{gd.requestqty},
            #{applyId}
            from apply_goods
        </foreach>
    </insert>

    <insert id="addapply">
        insert into apply(applyno,create_time,address,principal)
        values (#{applyno},#{createTime},#{address},#{eid})
    </insert>

    <update id="updateCheck">
          UPDATE apply
          SET state = #{state},apply_checker=#{applyChecker},remark=#{remark}
          WHERE applyno = #{applyno}
    </update>
    <update id="assign">
        UPDATE apply
        SET principal = #{eid}
        WHERE applyno = #{applyno}
    </update>
    <update id="backout">
        UPDATE apply
        SET principal = null
        WHERE applyno = #{applyno}
    </update>

    <delete id="deleteApply">
        DELETE FROM apply WHERE id = #{id}
    </delete>
    <delete id="deleteApplyGoods">
        DELETE apply_goods WHERE apply_id =#{id}
    </delete>

    <select id="queryAll" resultMap="applyResultMap">
        SELECT a.id,a.create_time,a.applyno,a.state,em.ename AS principal,e.ename AS apply_launch ,emp.ename AS apply_checker ,a.remark
        FROM apply a
        LEFT JOIN emp e ON e.eid = a.apply_launch
        LEFT JOIN emp ON emp.eid = a.apply_checker
        LEFT JOIN emp em ON em.eid = a.principal
        <where>
            <if test="createTime != null">
                a.create_time = #{createTime}
            </if>

            <if test="applyLaunch != null">
               AND e.ename = #{applyLaunch}
            </if>

            <if test="applyChecker != null">
              AND  emp.ename = #{applyChecker}
            </if>
        </where>
    </select>
    <select id="queryDept" resultType="com.gxa.entity.Emp">
        SELECT e.eid,e.department
        FROM emp e
    </select>
    <resultMap id="empResultMap" type="emp">
        <id property="eid" column="eid"></id>
        <result property="ename" column="ename"></result>
        <result property="department" column="department"></result>
    </resultMap>

    <select id="queryEmp" resultMap="empResultMap">
        SELECT e.eid,e.ename,e.department
        FROM emp e
        <where>
            <if test="eid != null">
                e.eid = #{eid}
            </if>
            <if test="ename != null and ename != ''">
                AND e.ename = #{ename}
            </if>
            <if test="department != null and department != ''">
                AND e.department = #{department}
            </if>
        </where>
    </select>

    <select id="queryGoogs" resultMap="applyResultMap">
        SELECT g.gid,g.gname,gd.spec,gd.unit,ag.requestqty,s.realqty,s.qty
        FROM goods g
        LEFT JOIN goods_detail gd ON gd.goods_id = g.gid
        LEFT JOIN apply_goods ag ON ag.goods_id = g.gid
        LEFT JOIN stock s ON s.goodsdetail_id = gd.did
        <where>
            <if test="id != null">
                ag.apply_id = #{id}
            </if>
        </where>
    </select>

    <select id="queryApplyId" resultType="java.lang.Integer">
        SELECT a.id
        FROM apply a
        WHERE applyno = #{applyno}
    </select>

</mapper>