<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.CompanyMapper">
    <resultMap id="companyResultMap" type="company">
        <id property="id" column="id"></id>
        <result property="compno" column="compno"></result>
        <result property="name" column="name"></result>
        <result property="job" column="job"></result>
    </resultMap>

<insert id="add" >
    insert into company(id,compno,name,job) value (#{id},#{compno},#{name},#{job})
</insert>
    <update id="updateById"  >
        UPDATE company  SET  id =#{id}
        WHERE id =#{id}
    </update>
    <select id="queryAll" resultType="com.gxa.entity.Company" resultMap="companyResultMap">
        SELECT id,compno,name,job FROM company
    </select>

    <select id="queryByCondition" resultMap="companyResultMap">
      SELECT id,compno,name,job FROM company
        <where>
             <if test="id !=null">
                     c.id =#{id}
             </if>

              <if test="compno !=null">
                     c.compno=#{compno}
             </if>

             <if test="name !=null">
                     c.name=#{name}
             </if>

             <if test="job !=null">
                     c.job=#{job}
             </if>>


        </where>
    </select>

    <select id="queryById">

    </select>



</mapper>