<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.GoodsDetailMapper">
    <resultMap id="GoodsResultMap" type="goods">
        <id column="gid" property="gid"/>
        <result column="gname" property="gname"/>
        <result column="sale_price" property="goodsDetail.salePrice"/>
        <result column="buy_price" property="goodsDetail.buyPrice"/>
        <result column="brand" property="brand"/>
        <result column="status" property="goodsDetail.status"/>
        <result column="color" property="goodsDetail.color"/>
        <result column="size" property="goodsDetail.size"/>
        <result column="spec" property="goodsDetail.spec"/>
        <result column="unit" property="goodsDetail.unit"/>
        <result column="type_a" property="goodsDetail.typeA"/>
        <result column="type_b" property="goodsDetail.typeB"/>
        <result column="realqty" property="stock.realQty"/>
        <result column="minqty" property="stock.minQty"/>
    </resultMap>

    <insert id="addGoodsDetail">
    INSERT INTO goods_detail(type_a,type_b,color,size,spec,unit,selling_price,status,goods_id)
    VALUES(#{goodsDetail.typeA},#{goodsDetail.typeB},#{goodsDetail.color},#{goodsDetail.size},#{goodsDetail.spec},#{goodsDetail.unit},
           #{goodsDetail.sellingPrice},1,(SELECT gid FROM goods WHERE gname=#{gname}));
    </insert>
</mapper>