<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.MyOrderMapper">
    <resultMap type="myOrder" id="myOrderResultMap">
<!--    左 数据库 右 实体类-->
        <id column="id" property="id"/>

        <result column="orderno" property="orderno"/>

        <result column="submit_time" property="submitTime"/>

        <result column="receiver" property="receiver"/>

        <result column="money" property="money"/>

        <result column="type" property="type"/>

        <result column="source" property="source"/>

        <result column="status" property="status"/>

        <result column="tel" property="tel"/>

        <result column="saleqty" property="saleqty"/>

        <result column="payment" property="payment"/>

        <result column="goods_id" property="goods.gid"/>

        <result column="gname" property="goods.gname"/>

        <result column="picture" property="goods.picture"/>

        <result column="sale_price" property="goods.salePrice"/>

        <result column="buy_price" property="goods.buyPrice"/>

        <result column="brand" property="goods.brand"/>

        <result column="gstatus" property="goods.status"/>

        <result column="rid" property="returnBill.id"/>

        <result column="returnno" property="returnBill.returnNo"/>

        <result column="rstatus" property="returnBill.status"/>

        <result column="create_time" property="returnBill.createTime"/>

        <result column="return_time" property="returnBill.returnTime"/>

    </resultMap>


    <update id="updateStatusByClose">
        UPDATE myorder
        SET status=4
        WHERE id=#{id}
    </update>

    <update id="updateStatusByOut">
        UPDATE myorder
        SET status=2
        WHERE id=#{id}
    </update>

    <update id="updateStatusByFinish">
        UPDATE myorder
        SET status=3
        WHERE id=#{id}
    </update>

    <update id="updateOuts" parameterType="Integer">
        UPDATE myorder
        SET status=2
        WHERE id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="updateFinishes" parameterType="Integer">
        UPDATE myorder
        SET status=3
        WHERE id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <delete id="delete">
        DELETE FROM myorder WHERE id=#{id}
    </delete>

    <delete id="deleteMyOrders" parameterType="Integer">
            delete from myorder where id in
            <foreach item="id" collection="array" open="(" separator="," close=")">
                #{id}
            </foreach>
    </delete>

    <select id="queryAll" resultMap="myOrderResultMap">
    SELECT o.id,o.orderno,o.money,o.payment,o.status,o.submit_time,o.source,o.type,o.receiver,o.tel,o.saleqty,o.goods_id,g.gname,g.picture,g.sale_price,g.buy_price,g.brand,g.status AS gstatus
    FROM myorder o LEFT JOIN goods g
    ON o.goods_id = g.gid
    </select>

    <select id="queryByCondition" resultMap="myOrderResultMap">
        SELECT o.id,o.orderno,o.money,o.payment,o.status,o.submit_time,o.source,o.type,o.receiver,o.tel,o.saleqty,o.goods_id
        FROM myorder o
        <where>
            <if test="orderno != null">
                orderno like concat ("%",#{orderno},"%")
            </if>
            <if test="status != null">
                and o.status=#{status}
            </if>
            <if test="submitTime != null">
                and submit_time=#{submitTime}
            </if>
            <if test="receiver != null">
                and receiver like concat ("%",#{receiver},"%")
            </if>
            <if test="source != null">
                and source=#{source}
            </if>
        </where>
    </select>

    <select id="queryAllReturn" resultMap="myOrderResultMap">
        SELECT o.id,r.returnno,r.create_time,o.receiver,o.money,r.contact,r.status AS rstatus,r.return_time
        FROM myorder o RIGHT JOIN returnbill r
        ON o.id = r.myorder_id
    </select>

    <select id="queryReturnByCondition" resultMap="myOrderResultMap">
        SELECT o.id,r.returnno,r.create_time,o.receiver,o.money,r.contact,r.status AS rstatus,r.return_time
        FROM myorder o,returnbill r
        <where>
            <if test="orderno != null">
                r.returnno=#{orderno} AND o.id = r.myorder_id
            </if>
            <if test="status != null">
                and o.status=#{status} AND o.id = r.myorder_id
            </if>
            <if test="submitTime != null">
                and create_time=#{submitTime} AND o.id = r.myorder_id
            </if>
            <if test="receiver != null">
                and receiver=#{receiver} AND o.id = r.myorder_id
            </if>
            <if test="source != null">
                and source=#{source} AND o.id = r.myorder_id
            </if>
        </where>
    </select>

    <insert id="add">
        INSERT INTO myorder(id,orderno,money,payment,status,submit_time,source,type,receiver,tel,saleqty,goods_id)
        VALUES(#{id},#{orderno},#{money},#{payment},#{status},#{submitTime},#{source},#{type},#{receiver},#{tel},#{saleqty},#{goods.gid})
    </insert>
</mapper>