<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.PurchaseMapper">

    <resultMap id="purchaseResultMap" type="com.gxa.dto.PurchaseQueryDto">
        <result property="id" column="id"></result>
        <result property="purchaseNo"  column="purchaseno"></result>
        <result property="createTime" column="create_time"></result>
        <result property="status" column="status"></result>
        <result property="remark" column="remark"></result>
        <result property="purchaseHandlerName" column="purchase_handler"></result>
        <result property="purchaseCheckerName" column="purchase_checker"></result>
        <result property="financeCheckerName" column="finance_checker"></result>
        <result property="sid" column="sid"></result>
        <result property="sname" column="sname"></result>
        <result property="principal" column="principal"></result>
    </resultMap>

    <insert id="insert" parameterType="com.gxa.dto.PurchaseAddDto" useGeneratedKeys="true" keyProperty="id">
        insert into purchase(purchaseno,status,create_time,purchase_handler,remark,address,apply_id,supplier_id)
        values (#{purchaseNo},1,#{createTime},#{purchaseHandlerId},#{remark},#{address},#{applyId},#{sid});

    </insert>

    <update id="updateById">
        update from purchase
        set status=#{status},purchase_handler=#{purchaseHandlerId},remark=#{remark},address=#{address},apply_id=#{apply_id}
        where id=#{id}
    </update>

    <select id="queryAll" resultMap="purchaseResultMap">
        select p.id,p.create_time,p.purchaseno,p.status,s.sid,s.sname,e.ename principal,e1.ename purchase_handler,e2.ename purchase_checker,e3.ename finance_checker
        from purchase p
        left join emp e1 on e1.eid = p.purchase_handler
        left join emp e2 on e2.eid = p.purchase_checker
        left join emp e3 on e3.eid = p.finance_checker
        left join supplier s on p.supplier_id = s.sid
        left join apply a on p.apply_id = a.id
        left join emp e on a.principal = e.eid
        <where>
                <if test="status != null ">
                    p.status = #{status}
                </if>
                <if test="createTime != null">
                    p.create_time = #{createTime}
                </if>
                <if test="sname != null and sname != ''">
                    s.sname = #{sname}
                </if>
                <if test="principal != null">
                    a.principal = #{principal}
                </if>
        </where>
    </select>

    <select id="queryIdByNo" resultType="java.lang.Integer">
        select id from purchase where purchaseno = #{purchaseNo}
    </select>

</mapper>