<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.PurchaseGoodsMapper">




    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        <foreach collection="purchaseGoodsList" item="pg" index="index" separator="union all">
        insert into purchase_goods(buyqty,goods_id,purchase_id)
            select
            #{pg.buyQty},
            #{pg.goodsId},
            #{purchaseId}
            from purchase_goods
        </foreach>
    </insert>

    <update id="batchUpdate">
        <foreach collection="purchaseGoodsList" item="pg" index="index" separator="union all">
            update purchase_goods
            set buyqty=#{pg.buyqty}
            where purchase_id=#{pg.purchaseId} and goods_id=#{pg.goodsId}
        </foreach>
    </update>

    <delete id="deleteById">
        delete form purchase_goods where goods_id in(#{ids})
    </delete>

    <select id="queryGoodsId" parameterType="java.lang.Integer">
        select goods_id from purchase_goods where purchase_id = #{purchaseId}
    </select>

</mapper>