<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.RepositoryMapper">





<!--    <insert id="addCargo" parameterType="com.gxa.entity.Cargo">-->
<!--        insert into cargo(repository_id,location)  values ((selcet rid from repository where ranme=#{repository.rname} and address-->
<!--           )-->
<!--           -->
<!--    </insert>-->
<!--    SELECT rid FROM repository WHERE rname=#{} and area=#{area}) ,#{}-->









<!--    新增仓库-->
    <insert id="addNew" parameterType="com.gxa.entity.Repository"  >
        INSERT into repository(rname,address,storemanager) VALUES(#{rname},#{address},#{storeManager})
    </insert>

<!--    新增区域-->

    <insert id="addArea" parameterType="com.gxa.entity.Cargo">
        INSERT INTO cargo(repository_id,area)  VALUES(#{repository.rid},#{area})
    </insert>
    <insert id="addCargo" parameterType="com.gxa.entity.Cargo">
        insert into cargo(location,area,repository_id)
        values (#{location},#{area},(select rid from repository where rname=#{repository.rname}))
    </insert>


    <resultMap id="qaMap" type="com.gxa.entity.Repository">

        <result property="rname" column="rname"></result>
        <result property="cargo.area" column="area"></result>
        <result property="cargo.cid" column="cid"></result>
        <result property="goodsDetail.typeA" column="type_a"></result>
        <result property="goods.gname" column="ganme"></result>
        <result property="goodsDetail.unit" column="unit"></result>
        <result property="goodsDetail.spec" column="spec"></result>
        <result property="stock.qty" column="qty"></result>
        <result property="stock.realQty" column="realqty"></result>



    </resultMap>


    <select id="queryAll" resultMap="qaMap">
        SELECT r.rname,c.area,c.cid,gd.type_a,g.gname,gd.unit,gd.spec,s.qty,s.realqty
        FROM repository r
        LEFT JOIN cargo c
        ON r.rid=c.repository_id
        LEFT JOIN goods g
        on c.goods_id=g.gid
        LEFT JOIN goods_detail gd
        on g.gid =gd.goods_id
        LEFT JOIN stock s
        on gd.goods_id=s.cargo_id

<where>
    <if test="rname !=null and rname !='' ">
    r.rname=#{rname}
    </if>
    <if test="area !=null and area!='' ">
    c.area=#{area}
    </if>
    <if test="type_A !=null">
    gd.type_a=#{type_A}
    </if>
    <if test="goodsName !=null and goodsName !='' ">
    g.goodsName=#{goodsName}
    </if>
    <if test="brand!=null and brand!='' ">

    g.brand=#{brand}
    </if>
</where>


    </select>




    <resultMap id="qsMap" type="repository">
        <id property="rid" column="rid"></id>
        <result property="rname" column="rname"></result>
        <result property="address" column="address"></result>
        <result property="storeManager" column="storemanager"></result>
        <result property="areaNum" column="area_num"></result>
        <result property="stock.minQty" column="minqty"></result>

    </resultMap>
    <select id="queryStructure" resultType="com.gxa.entity.Repository"  resultMap="qsMap">

        SELECT r.rid,r.rname,r.address,r.storemanager,r.area_num,r.shelves_num,s.minqty
        FROM repository r
                 LEFT JOIN cargo c
                           on r.rid=c.repository_id
                 LEFT JOIN stock s
                           on c.cid=s.cargo_id

    </select>



    <select id="queryAreaByRnameCargos" resultType="com.gxa.entity.Cargo">
        SELECT  c.area
        FROM cargo c
                 LEFT JOIN repository r
                           on c.repository_id=r.rid
        WHERE rid=(select rid from repository where rname=#{rname})

    </select>
    
    
    
    <resultMap id="qsaMap" type="repository">
        <result property="rname" column="rname"></result>
        <result property="cargo.area" column="area"></result>
    </resultMap>

    <select id="queryStoreAndArea" resultMap="qsaMap">
        SELECT  r.rname,c.area
        FROM  repository  r
                  left JOIN cargo c on r.rid =c.repository_id
    </select>


</mapper>