<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.StockMapper">
    <resultMap id="GoodsResultMap" type="goods">
        <id column="gid" property="gid"/>
        <result column="gname" property="gname"/>
        <result column="sale_price" property="goodsDetail.salePrice"/>
        <result column="buy_price" property="goodsDetail.buyPrice"/>
        <result column="brand" property="brand"/>
        <result column="status" property="goodsDetail.status"/>
        <result column="color" property="goodsDetail.color"/>
        <result column="size" property="goodsDetail.size"/>
        <result column="spec" property="goodsDetail.spec"/>
        <result column="unit" property="goodsDetail.unit"/>
        <result column="type_a" property="goodsDetail.typeA"/>
        <result column="type_b" property="goodsDetail.typeB"/>
        <result column="realqty" property="stock.realQty"/>
        <result column="minqty" property="stock.minQty"/>
    </resultMap>

    <insert id="addStock">
        INSERT INTO stock(minqty,goodsdetail_id)
        VALUES(#{stock.minQty},(SELECT did FROM goods_detail
                                    <where>
                                        type_a=#{goodsDetail.typeA}
                                        and type_b=#{goodsDetail.typeB}
                                    <if test="goodsDetail.color != null and goodsDetail.color != ''">
                                        and color=#{goodsDetail.color}
                                    </if>
                                    <if test="goodsDetail.size != null and goodsDetail.size != ''">
                                        and size=#{goodsDetail.size}
                                    </if>
                                    <if test="goodsDetail.spec != null and goodsDetail.spec != ''">
                                        and spec=#{goodsDetail.spec}
                                    </if>

                                </where>
        ));
    </insert>
</mapper>