<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.UserMapper">
    <resultMap id="userResultMap" type="user">
        <id property="uid" column="uid"></id>
        <result property="uname" column="uname"></result>
        <result property="password" column="password"></result>
        <result property="salt" column="salt"></result>
        <result property="limit" column="limit"></result>

    </resultMap>
    <insert id="add">
        INSERT INTO USER(uid,uname,password,salt,LIMIT) value (#{uid},#{uname},#{password},#{salt},#{limit})
    </insert>

    <update id="update">
        UPDATE `user` SET `limit` = #{limt}
        WHERE uid = #{uid}
    </update>

    <select id="queryByUserNameAndPwd" resultMap="userResultMap">
        SELECT uid,password FROM USER
    </select>

    <select id="queryByUid">
        SELECT *
        FROM user u
        WHERE u.uid = #{uid}
    </select>


</mapper>