<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.UserMapper">
    <resultMap id="userResultMap" type="user">
        <id property="uid" column="uid"></id>
        <result property="uname" column="uname"></result>
        <result property="password" column="password"></result>
        <result property="salt" column="salt"></result>
        <result property="limit" column="limit"></result>

    </resultMap>
    <insert id="add" >
        NISERT INTO USER(uid,uname,password,salt,LIMIT) value (#{uid},#{uname},#{password},#{salt},#{limit})
    </insert>



    <update id="updateById" >
        UPDATE user
        SET limit = #{limt}
        WHERE uid = #{uid}
    </update>

    <update id="updateNameAndPwd">
        UPDATE `user`
        set uname,`password`
        WHERE uid =#{uid}
    </update>

    <select id="queryByUserNameAndPwd" resultMap="userResultMap">
        SELECT u.uid,u.uname,u.password,u.salt,u.limit
        FROM `user` u
        WHERE uname=#{uname}
    </select>

    <select id="queryByUid"  resultMap="userResultMap">
        SELECT u.uid,u.uname,u.limit
        FROM user u
        WHERE u.uid = #{uid}
    </select>


<!--    <select id="queruAll" resultType="com.gxa.entity.User">-->
<!--        -->
<!--    </select>-->
    <select id="queryAll" resultMap="userResultMap">
        SELECT u.uid,u.uname,u.`limit`
        FROM `user` u
        <where>
            <if test="uid !=null">
             u.uid =#{uid}
            </if>>
        </where>>

    </select>

<!--    <select id="queryById" resultType="com.gxa.entity.User">-->
<!--        SELECT u.uid,u.`limit`,u.uname-->
<!--        FROM user u-->
<!--        WHERE uid =#{uid}-->
<!--    </select>-->
<!--    <update id="updateNameAndPwd">-->
<!--    UPDATE `user`-->
<!--    set uname,`password`-->
<!--    WHERE uid =#{uid}-->
<!--    </update>>-->


</mapper>